
<nav class="level portNaam">
  <div class="titel">
  <h1> {{portfolioNaam}}</h1>
</div>

</nav>
<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Currency</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Price</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Balance</p>
    </div>
  </div>
</nav>


<div class="card ">
  <div class="card-item " *ngFor="let portcoin of (_fetchPortCoins$ | async)" >
    <div class="currency level-item">
    <div class="coin-name">
      <p>{{portcoin.amount}}</p>
    </div>
   </div>

    <div class="price level-item">
    <div class="coin-price">
      <p>${{portcoin.coin}} <small>({{portcoin.coin}}%)</small></p>
    </div>
    </div>

    <div class="balance level-item">
      <div class="coin-total-value">
        <p>$5<small>({{portcoin.amount}} {{portcoin.coin}})</small></p>
      </div>
    </div>
    <a class="delete is-medium" ></a>
  </div>

</div>


