
<nav class="level portNaam">
  <div class="titel">
  <h1 class="naam"> {{portfolioNaam}}</h1>
</div>

</nav>
<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Currency</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Price</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Balance</p>
    </div>
  </div>
</nav>


<div class="card ">
  <div class="card-item " id="1"> <!--   *ngFor="let portcoin of (portCoins$ | async)"   -->
    <div class="currency level-item">
    <div class="coin-name">
      <p>Ethereum</p>
    </div>
   </div>

    <div class="price level-item">
    <div class="coin-price">
      <p>$174.18 <small> (1.85%)</small></p>
    </div>
    </div>

    <div class="balance level-item">
      <div class="coin-total-value">
        <p>$435.45<small> (2.5 ETH)</small></p>
      </div>
    </div>
    <a class="delete is-medium" (click)=deleteClicked(1) ></a>
  </div>

    <div class="card-item " id="2"> <!--   *ngFor="let portcoin of (portCoins$ | async)"   -->
      <div class="currency level-item">
      <div class="coin-name">
        <p>Bitcoin</p>
      </div>
     </div>

      <div class="price level-item">
      <div class="coin-price">
        <p>$7154.22 <small> (0.67%)</small></p>
      </div>
      </div>

      <div class="balance level-item">
        <div class="coin-total-value">
          <p>$150.24<small> (0.021 BTC)</small></p>
        </div>
      </div>
      <a class="delete is-medium"  (click)="deleteClicked(2)"></a>
    </div>


      <div class="card-item " id="3"> <!--   *ngFor="let portcoin of (portCoins$ | async)"   -->
        <div class="currency level-item">
        <div class="coin-name">
          <p>Litecoin</p>
        </div>
       </div>

        <div class="price level-item">
        <div class="coin-price">
          <p>$43.04 <small> (1.1%)</small></p>
        </div>
        </div>

        <div class="balance level-item">
          <div class="coin-total-value">
            <p>$989.92<small> (23 LTC)</small></p>
          </div>
        </div>
        <a class="delete is-medium"  (click)=deleteClicked(3) ></a>
      </div>
</div>


<div  class="tv">
    <h2>Total Value: ${{totalValue.toFixed(2)}}</h2>
</div>

<div>
  {{error}}
</div>

