@import '../../../main-styles.scss';

.table{
  width: 70%;
  margin: 25px;
  padding: 5px;

.th{
  font-size: 25px;
  padding-left: -10px;
}
  .tr{
    &:hover{
      background-color:$light-grey;
    }
  }
}

.neg {
  color: $red;
}

.pos {
color: $green;
}

.buttons{
  margin-left: 900px;
}
