<div class="modal is-active">
  <div class="modal-background">  </div>
  <div class="modal-card">
    <form [formGroup]="user" (ngSubmit)="onSubmit()">
      <div class="modal-card-head">
        <p class="modal-card-title">Register</p>
      </div>
      <section class="modal-card-body">
        <span>

          <div class="field"> First name
            <input class="input"
              placeholder="John"
              aria-label="first name"
              data-cy="register-firstname"
              formControlName="firstname"
            />

            <mat-error
              *ngIf="
                user.get('firstname').errors && user.get('firstname').touched
              "
            >
              {{ getErrorMessage(user.get('firstname').errors) }}
          </mat-error>
          </div>
          <div class="field">
            Last name
            <input class="input"
              placeholder="Wick"
              aria-label="last name"
              data-cy="register-lastname"
              formControlName="lastname"
            />

            <mat-error
              *ngIf="
                user.get('lastname').errors && user.get('lastname').touched
              "
            >
              {{ getErrorMessage(user.get('lastname').errors) }}
          </mat-error>
          </div>
        </span>
        <div class="field">
          Email
          <input class="input"
            placeholder="John.Wick@gmail.com"
            aria-label="email"
            data-cy="register-email"
            formControlName="email"
          />

          <mat-error
            *ngIf="user.get('email').errors && user.get('email').touched"
          >
            {{ getErrorMessage(user.get('email').errors) }}
          </mat-error>
        </div>
        <span fxLayout="column" formGroupName="passwordGroup">
          <div class="field">
            Password
            <input class="input"
              type="password"
              matInput
              placeholder="********"
              aria-label="password"
              data-cy="register-password"
              formControlName="password"
            />
            <mat-error
              *ngIf="
                user.get('passwordGroup').get('password').errors &&
                user.get('passwordGroup').get('password').touched
              "
            >
              {{
                getErrorMessage(
                  user.get('passwordGroup').get('password').errors
                )
              }}
            </mat-error>
          </div>
          <div class="field">
            Password confirmation
            <input class="input"
              type="password"
              matInput
              placeholder="********"
              aria-label="confirm password"
              data-cy="register-confirm-password"
              formControlName="confirmPassword"
            />
           <mat-error
              *ngIf="
                user.get('passwordGroup').get('confirmPassword').errors &&
                user.get('passwordGroup').get('confirmPassword').touched
              "
            >
              {{
                getErrorMessage(
                  user.get('passwordGroup').get('confirmPassword').errors
                )
              }}
            </mat-error>
          </div>
          <mat-error
            *ngIf="
              user.get('passwordGroup').errors &&
              user.get('passwordGroup').get('confirmPassword').touched &&
              user.get('passwordGroup').get('password').touched
            "
          >
            {{ getErrorMessage(user.get('passwordGroup').errors) }}
          </mat-error>
        </span>
      </section>



      <footer class="modal-card-foot">


        <button  class="button is-success"
          type="submit"
          color="primary"
          data-cy="register-button"
        >
          Register
        </button>
        <button  class="button"
          type="submit"
          color="secondary" [routerLink]="['/coins/list']">
          Cancel
        </button>
        <a class="login" [routerLink]="['/login']">Already have an account? Log in here</a>
      </footer>
    </form>
  </div>
  </div>

