<nav class="navbar" >

  <div class="navbar-menu">
    <div class="navbar-start">

      <a class="navbar-item coin-item"  *ngFor="let coin of (coins$ | async )" [routerLink]="['coins/',coin.symbol]">
        <div class="coin-name">{{coin.symbol}}</div>
        <div class="coin-price">{{coin.price}}$</div>
        <div class="coin-procent" [ngClass]="{ 'pos': coin.procent >=0, 'neg': coin.procent < 0 }">{{coin.procent}}%</div>
      </a>

    </div>

    <div class="navbar-end">
      <div class="navbar-item loginlogout">


         <span *ngIf="loggedInUser$ | async as user; else loginTemplate">
        {{ user }}
        <button (click)="logout()" class="button is-secondary">
          logout
        </button>
        </span>
      <ng-template #loginTemplate>
        <span>
          <button (click)="login()"  class="button is-primary">
            login
          </button>
        </span>
      </ng-template>
      </div>
    </div>

  </div>
</nav>

<button class="button is-primary b" id="all" [routerLink]="['coins/list']">All coins</button>
<button class="button is-primary b" id="pm" [routerLink]="['portfolios']">PortfolioManager</button>
<button class="button is-primary b" [routerLink]="['news']">News</button>
<body>
  <ng-content></ng-content>
</body>



