<span *ngIf="loggedInUser$ | async as user; else loginTemplate">
<article class="panel is-primary">
  <p class="panel-heading">
    Portfolios
    <i class="fas fa-plus-circle plus" (click)="nieuwPortfolioClicked()"></i>
  </p>
  <a class="panel-block" *ngFor="let portfolio of (portfolios$ | async )"
  [ngClass]="{ 'actief': portfolio==gekozenPortfolio}" >
    <span class="panel-icon">
      <i class="fas fa-wallet" aria-hidden="true" ></i>
    </span>
    <div (click)="bepPortfolioClicked(portfolio)" data-cy="portfolioDiv"> {{portfolio.name}}</div>

    <div (click)="deleteClicked(portfolio)"><a class="far fa-trash-alt" ></a> <br></div>

  </a>
</article>
<div>{{errorMessage}}</div>
<app-portcoins-list [portfolioNaam]="naam"></app-portcoins-list>
<app-add-edit></app-add-edit>

<div *ngIf="niewPortfolioMaken" >
  <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
      <form [formGroup]="newPortfolio" (ngSubmit)="onSubmit()">
      <header class="modal-card-head">
        <p class="modal-card-title">New portfolio</p>
        <button class="delete" aria-label="close" (click)=closeClicked()></button>
      </header>


      <section class="modal-card-body">
        <div class="field">
          <label class="label">Name portfolio</label>
          <div class="control">
            <input class="input"  placeholder="Name" formControlName="name"  aria-label="name" data-cy="name">
          </div>
        </div>
        <p class="error" *ngIf="errorMessage" data-cy="appError">
          {{ errorMessage }}
        </p>
      </section>


      <footer class="modal-card-foot">
        <button class="button is-success" type="submit">Make new portfolio</button>
        <button class="button" (click)=closeClicked()>Cancel</button>
      </footer>

      </form>
    </div>
  </div>

</div>
</span>
<ng-template #loginTemplate>


  <article class="message">
    <div class="message-header">
      <p>Portfolio</p>
    </div>
    <div class="message-body">
      To use our portfolio module please
      <strong><a href='/register'>make an account</a></strong> or
      <strong><a href='/login'>log in</a></strong>.
    </div>
  </article>


</ng-template>







