<div class="card">
  <div class="card-image">
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src='{{coin.logo}}' alt="logo" height="42" width="42">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4">{{coin.name}}</p>
        <p class="subtitle is-6">({{coin.symbol}})</p>
      </div>
    </div>

    <div class="content">
      {{coin.description}}
      <br>
    </div>
  </div>
</div>
