
<div class="card" *ngFor="let article of mArticles" >
  <div class="card-image">
    <figure class="image ">
      <img src={{article.urlToImage}} alt="Placeholder image">
    </figure>
  </div>
  <div class="card-content">
    <p class="title">
      {{article.title}}
    </p>
    <p class="subtitle">
      - {{article.author}} ({{article.publishedAt | date: 'dd/MM/yyyy'}})
    </p>
    <p class="subtitle">
      {{article.description}}
    </p>
  </div>
  <footer class="card-footer">
    <p class="card-footer-item">
      <span>
        Read full article <a class="a" href={{article.url}}>here</a>
      </span>
    </p>
  </footer>
</div>

